<div class="row container">
    <div class="col-12 col-md-2">
        <img src="./assets/perfil2.png" width="200" style="border: 4px solid;">
    </div>

    <div class="col-12 col-md-10" style="text-align: left;">
        <h1>Paulo Aldair Vera Chacón</h1>
        <hr>
        <h4>Ingeniero Civil en Computación Mención Informática con ambiciones en nuevas tecnologías, proactivo, flexibilidad al cambio y sociable.</h4>
        <hr>
        <h5>Conocimientos</h5>
        <ul>
            <li>Conocimiento en JavaScript, Node JS, Express</li>
            <li>Conocimientos en C/C++</li>
            <li>Conocimientos en DB(PostgreSQL, MySQL, Mongodb)</li>    
            <li>Conocimientos en Excel</li>    
            <li>Conocimientos en Python, Flaskrestful, Django</li> 
            <li>Conocimientos en Flutter</li> 
            <li>Conocimientos en Android Java</li>
            <li>Conocimientos en MEAN Stack</li>    
        </ul>
    </div>
</div>
